.active{
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
}
.blocked{
    color: #AEB5C1;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
}
.completed{
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
}